{% extends 'wpFiles/base.html' %}
{% block content %}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}"> Home </a></li>
    <li class="breadcrumb-item"> {{ dept.dept_code }} </li>
</ul>
        

<h1 class="container">{{ dept.dept_code }}</h1>
<ul class="list-group">
{% for academic_class in dept.academic_class_set.all %}
    <li class="list-group-item">
        <a href="{% url 'uploads' academic_class.pk %}">
            {{ academic_class.class_code }}: {{ academic_class.class_name }}
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}

