{% load static %}

<html>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="container">
    <div class="jumbotron">
    <h1> WPFiles </h1>
        <p> An online repository for all studying materials.</p>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}"> Home </a></li>
            <li><a href="{% url 'uploadFile' %}"> Upload File </a></li>
            <li>
                <form class="navbar-form navbar-right" action="{% url 'search' %}">
                  <input name="q" value="{{request.GET.q}}" placeholder="Search" required>
                   <select name="criteria" required>
                    <option value="" disabled selected>Search in...</option>
                    <option value="up">Uploads</option>
                    <option value="de">Departments</option>
                    <option value="co">Courses</option>
                  </select>
                  <input type="submit" value="Go" required>
                </form>
            </li>
          {% if user.is_authenticated %}
            <li class="navbar-left"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class="navbar-left"><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
    </div>
</nav>

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}"> Home </a></li>
    <li class="breadcrumb-item"><a href="../{{ academic_class.dept_code.pk }}"> 
         {{academic_class.dept_code }}</a> </li>
    <li class="breadcrumb-item"> {{ academic_class.class_code }} </li>
</ul> 

{% block content %}
<h1 class="container">Login</h1>
<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <a href="{% url 'signup' %}">Create an Account</a>
</div>
{% endblock %}
    


