{% load static %}

<html>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="container">
    <div class="jumbotron">
    <h1> WPFiles </h1>
        <p> An online repository for all studying materials.</p>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}"> Home </a></li>
            <li><a href="{% url 'uploadFile' %}"> Upload File </a></li>
            <li>
	        <form class="navbar-form navbar-right" action="{% url 'search' %}">
                  <input name="q" value="{{request.GET.q}}" placeholder="Search" required>
                   <select name="criteria" required>
                    <option value="" disabled selected>Search in...</option>
                    <option value="up">Uploads</option>
                    <option value="de">Departments</option>
                    <option value="co">Courses</option>
                  </select>
                  <input type="submit" value="Go">
                </form>
            </li>
        </ul>
    </div>
</nav>

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}"> Home </a></li>
</ul> 



{% if search_results %}
  <h1 class="container">
      Search returned {{ search_results|length }} result(s):
  </h1>
  <table class="table">
    <tr>
	    <th>Department Code</th><th>Department Name</th>
    </tr>
  {% for result in search_results %} 
      <tr>
        <td><a href="{% url 'classInDept' result.id %}">{{ result.dept_code }}</a></td>
        <td>{{ result.dept_name }}</td>
      </tr>
  {% endfor %}
{% endif %}

