{% load static %}
{% load ratings %}
<html>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<h1>{{ academic_class.class_code }}</h1>
<table style="width:100%">
<tr>
	<th>Filename</th><th>Upload Date</th><th>Rating</th>
</tr>

{% for upload in academic_class.upload_set.all %}
	<tr>    
		<td><a href="{{ upload.document.url }}">{{ upload.alias }}</a></td>
		<td>{{ upload.upload_date }}</td>
		<td>{% ratings upload 15 15 %}</td>
	</tr>
{% endfor %}
</table>

</html>
